body{

background:#d0f8d0;
font-family:monospace;
text-align:center;

}

#game{

max-width:700px;
margin:auto;

}

#battle{

display:flex;
justify-content:space-between;
margin:20px;

}

.enemy img{

width:120px;

}

.player img{

width:120px;

}

.hp{

width:120px;
height:12px;
border:2px solid black;
margin:auto;

}

.hp div{

height:100%;
background:#33cc33;

}

#questionBox{

background:white;
border:3px solid black;
padding:10px;

}

button{

margin:5px;
padding:10px;

}

#timer{

font-size:24px;
color:red;

}